.novo_1{
	background-color: #6974e8;
    height: 500px;
    padding-top: 40px;
}
#menuToggle{
	display: none;
}
  .krug_img1 img{
   height: 405px;
    position: absolute;
    margin-left: 670px;
    margin-top: 50px;
   }
   .ntt{

    margin: -9px 0px;
    float: left;
    padding: 15px 45px 12px;
    cursor: pointer;
    border-top-right-radius: 5px;
    background-color: white;
    color: black;
    border-top-left-radius: 13px;

}
.post_action_a{
        height: 301px;
    width: 480px;
    display: block;
}
.ntt2{  transition-duration: .3s;
    float: left;
    padding: 10px 45px 7px;
    cursor: pointer;
    background-color: #14264e;
    color: white;
    border-top-left-radius: 13px;
}
   .nt{
  margin: -9px 0px;
    float: left;
    padding: 15px 20px 12px;
    border-top-left-radius: 5px;
    cursor: pointer;
    border: 0px;
    background-color: #ffffff;
    color: black;
    border-top-right-radius: 13px;

}
.nt2{
       transition-duration: .3s;
    float: left;
    padding: 10px 20px 7px;
    cursor: pointer;
    border: 0px;
    background-color: #14264e;
    color: white;
    border-top-right-radius: 13px;
}
.nt2:hover{    padding: 15px 20px 12px;
      margin: -9px 0px;

        border-top-left-radius: 5px;
    background-color: #d1414b;
}

.ntt2:hover{
    margin: -9px 0px;

     padding: 15px 45px 12px;
        border-top-right-radius: 5px;
    background-color: #d1414b;
}
.h2_2 {
    font-family: arial;
    color: #000;
    position: absolute;
    font-weight: unset;
    top: 25px;
    font-size: 26px;
    margin-left: 54px;
}
.h2_3 {
    font-family: "Source Sans Pro", sans-serif;
    margin: -40px auto 0 auto;
}
.map_left {
  float: left;
    margin: 20px;
    width: 290px;
    background-color: white;
    padding: 0px 15px 10px;
    border-radius: 15px;
    border: 1px solid #d8d8d8;
}
.div_76 {
        width: 1003px;
    margin-top: -9px;
    background-color: white;
    border-radius: 15px;
    border-top-left-radius: 0px;
    display: flow-root;
    padding: 9px;
}
.div_80 {
    font-family: roboto;
    position: absolute;
    color: #444;
}
.div_77 {
    font-family: "Source Sans Pro", sans-serif;
    width: 1024px;
    background-color: #fff;
    min-height: 100%;
    margin: 45px auto;
    padding: 60px 25px;
    border-radius: 15px;
}
.div_79 {
    float: left;
    margin-left: 70px;
}
.img-logo_1 {
    position: absolute;
    margin: 0 auto;
    display: block;
    transition-duration: 0.5s;
}
.img-logo_2 {
    position: absolute;
    margin: 0 auto;
    display: block;
    transition-duration: 0.5s;
}
.comed5_1 {
    font: 400 13.3333px Arial;
    margin-right: 10px;
    float: left;
    border-radius: 30px;
    color: #d1414b;
    padding: 10px 17px;
    background: #fff;
    border: 1px solid #d1414b;
    cursor: pointer;
    text-align: center;
    display: block;
    letter-spacing: 0.1em;
    transition-duration: 0.3s;
    text-decoration: none;
}
.comed5_2 {
    font: 400 13.3333px Arial;
    margin-right: 10px;
    float: left;
    border-radius: 30px;
    color: #d1414b;
    padding: 10px 17px;
    background: #fff;
    border: 1px solid #d1414b;
    cursor: pointer;
    text-align: center;
    display: block;
    letter-spacing: 0.1em;
    transition-duration: 0.3s;
    text-decoration: none;
}
.div_78 {
   border-radius: 15px;
    box-shadow: 0 0 8px 5px #b9b9b952;
    width: 1024px;
    float: left;
    min-height: 300px;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 50px;
}

.div_78::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.div_78::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.div_78::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.div_78::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.div_66 {
    margin-top: 44px;
    margin-left: 100px;
    float: left;
    box-shadow: -3px 3px 10px 2px #14264e;
    transform: scale(1.1);
    transition-duration: 0.5s;
    overflow: hidden;
    border: 1px solid #14264e;
    width: 150px;
    padding: 9px;
    border-radius: 100%;
    height: 150px;
    top: 25%;
    position: relative;
}
.div_67 {
    margin-right: 50px;
    float: right;
    width: 648px;
}
.div_69 {
    margin-top: 50px;
    width: 1024px;
    display: flex;
}
.div_70 {
    color: #353535;
    min-width: 826px;
    margin: auto;
    padding: 6px 10px;
  border-radius: 10px;
    height: 27px;
    float: left;
        box-shadow: 1px 2px 7px 0 #14264e4a;
}
.p_30 {
    font-family: arial;
    float: left;
    font-weight: 700;
    border-right: 1px solid #14264e;
    padding: 5px;
}
.p_12 {
      border-top: 1px solid #9a9a9a82;
    position: absolute;
    width: 605px;
    /* margin-left: 77px; */
    margin-top: 58px;
    box-shadow: 0 3px 14px 1px #8181813b;
}
.textarea_3 {
    float: left;
    min-height: 60px;
    border-radius: 5px;
    padding: 7px;
    width: 482px;
}
.textarea_2 {
    padding: 7px;
    width: 535px;
    min-height: 150px;
    border-radius: 5px;
}
.div_65 {
    padding-top: 30px;
    margin: auto;
    width: 550px;
}
.p_13 {
    font-family: arial;
    float: left;
    font-weight: 700;
    border-right: 1px solid #adacac;
    padding: 5px;
}
.p_14 {
    width: 500px;
    border-top: 1px solid #14264e;
    margin-left: auto;
    margin-right: auto;
}
.p_15 {
    width: 214px;
    margin: auto;
    margin-bottom: -40px;
    margin-top: 20px;
    font-family: Roboto;
}
.p_29 {
    width: 298px;
    margin: auto;
    margin-bottom: -40px;
    margin-top: 43px;
    font-family: Roboto;
}
#id_send{
    margin-left: 10px!important;
}
.p_16 {
    margin-top: 50px;
    float: left;
    margin-left: 30px;
}
.p_17 {
    margin: auto;
    display: table;
}
.p_18 {
    font-size: 16px;
    font-family: arial;
    margin-left: -58px;
    margin-bottom: 20px;
}
.div_59 {
    position: absolute;
    margin-top: 10px;
    margin-left: 0;
}
.div_60 {
    margin-top: 50px;
    display: flow-root;
}
.div_61 {
        width: 678px;
    height: 40px;
    margin-top: 45px;
}
.div_62 {
    display: none;
    width: 682px !important;
}
.div_63 {
margin-bottom: 45px;
    height: 380px;
    background-color: white;
    border-radius: 15px;

}
.div_38 {
    width: 60%;
    margin: 0 auto;
}
.div_64 {
    float: left;
    padding: 10px;
    width: 160px;
    border: 1px solid #14264e;
    box-shadow: -4px 4px 17px -2px #585858eb;
    color: #292929;
    border-radius: 2px;
    margin: 7px;
    text-align: center;
    height: 287px;
    font-weight: 700;
}
.mob_post {
    width: 980px;
    margin: auto;
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px;
}
#offest {
    width: 700px;
    height: 20px;
    float: left;
}
#map_left {
    float: left;
    margin: 20px;
    margin-left: 12px;
    margin-right: 12px;
}
.div_39 {
    margin-left: 83px;
    height: 50px;
    float: left;
}
.div_40 {
    margin-right: 25px;
    margin-bottom: 10px;
}
.div_41 {
    margin-top: -79px;
    float: right;
}
.sector-2 {
    margin-top: 241px;
}
#telefon {
    transition-duration: 1s;
}
.div_42 {
    height: 420px;
}
.div_43 {
    font-family: "Source Sans Pro", sans-serif;
    margin: -40px auto 0 auto;
}
.div_30 {
        margin-top: 48px;
    width: 1024px;
    display: flex;
    padding-bottom: 50px;
}
.div_44 {
    width: 150px;
    height: 200px;
    margin-left: 104px;
    float: left;
    margin-top: 20px;
}
.p_20 {
    font-size: 16px;
    font-family: arial;
    margin-left: -81px;
    margin-bottom: 20px;
}
.div_45 {
    width: 400px;
}
.p_19 {
    width: 500px;
    border-top: 1px solid #14264e;
    margin-left: auto;
    margin-right: auto;
}
.label_3 {
    float: left;
    margin-right: 5px;
}
.select_3 {
    width: 81px !important;
    padding-right: 10px !important;
}
.select_4 {
    width: 145px !important;
    padding-right: 10px !important;
    margin-right: 10px !important;
}
.label_4 {
    float: left;
    margin-right: 5px;
}
.label_5 {
    margin-left: 20px;
    margin-top: 5px;
}
.label_6 {
    margin: 20px;
}
.input_4 {
    width: 136px;
    margin-left: 0;
    padding: 5px;
    font-family: "Source Sans Pro", sans-serif;
}
.span_3 {
    font-size: 16px;
    margin-left: -27px;
    color: #444444cf;
}
.div_48 {
    float: left;
    margin-left: 85px;
}
.p_23 {
    font-size: 16px;
    font-family: arial;
    margin-left: -60px;
    margin-bottom: 20px;
}
.label_7 {
    margin: 0 20px 20px 20px;
}
.label_8 {
    margin-right: 20px;
    margin-left: 40px;
}
.label_9 {
    float: left;
}
.input_5 {
    margin-top: 82px;
}
.p_25 {
    width: 500px;
    border-top: 1px solid #14264e;
    margin-left: auto;
    margin-right: auto;
}
.div_50 {
    width: 100%;
    margin-bottom: 65px;
    margin-top: 30px;
}
.div_51 {
    float: left;
    margin-top: 42px;
}
.label_11 {
    margin-bottom: 7px;
    margin-left: 124px;
}
.label-12 {
    display: block;
    margin-bottom: 7px;
    padding-left: 124px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Source Sans Pro", sans-serif;
}
.h2_5 {
    margin-bottom: 30px;
    margin-top: 50px;
}
.i_6 {
    cursor: pointer;
}
.textarea_1 {
    width: 90%;
    margin-right: 51px;
    margin-left: 51px;
    height: 100px;
    font-family: "Source Sans Pro";
    font-size: 16px;
}
.span_4 {
    cursor: pointer;
    margin-top: 50px !important;
    width: 104px;
}
.p_27 {
    width: 500px;
    border-top: 1px solid #14264e;
    margin-left: auto;
    margin-right: auto;
}
.h2_6 {
    width: 160px;
    font-family: "Source Sans Pro", sans-serif;
    margin: -40px auto 0 auto;
}
.div_57 {
    width: 150px;
    cursor: pointer;
    height: 150px;
}
.input_8 {
    display: none;
    visibility: hidden;
}
.div_58 {
    margin-top: 253px;
    margin-bottom: 20px;
}
.input_7 {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.div_56 {
    display: none;
}
.p_26 {
    width: 500px;
    border-top: 1px solid #14264e;
    margin-left: auto;
    margin-right: auto;
}
.div_52 {
    float: left;
    width: 100%;
}
.div_55 {
    margin-bottom: 30px;
    margin-top: 50px;
}
.div_53 {
    margin-left: auto;
    width: 640px;
    margin-right: auto;
    margin-bottom: 30px;
}
.select_6 {
    margin-top: 219px;
    margin-right: -162px;
    float: right;
    overflow: hidden;
    width: 127px;
    border: 1px solid #00000054;
    padding: 5px 6px 5px 10px;
    font-size: 15px;
    font-family: "Source Sans Pro", sans-serif;
}
.p_28 {
    margin-left: -40px;
    margin-bottom: 15px;
}
.label_14 {
    float: right;
    width: 300px;
}
.label_13 {
    display: block;
    padding-left: 124px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Source Sans Pro", sans-serif;
}
.label_12 {
    display: block;
    margin-bottom: 7px;
    padding-left: 124px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Source Sans Pro", sans-serif;
}
.select_5 {
    width: 226px !important;
    padding-right: 10px !important;
}
.input_6 {
    width: 100px;
    padding: 4px;
    margin-left: 10px;
    font-family: "Source Sans Pro", sans-serif;
}
.div_54 {
    position: absolute;
    width: 1024px;
}
.h2_4 {
    font-family: "Source Sans Pro", sans-serif;
    margin: -40px auto 0 auto;
}
.label_10 {
    margin-left: 42px;
}
.p_24 {
    font-size: 16px;
    font-family: arial;
    margin-bottom: 20px;
}
.div_49 {
    width: 301px;
    margin-right: 90px;
    float: right;
}
.p_23 {
    font-size: 16px;
    font-family: arial;
    margin-left: -60px;
    margin-bottom: 20px;
}
.div_47 {
    width: 100%;
    float: left;
}
.p_22 {
    font-size: 16px;
    font-family: arial;
    margin-left: -81px;
    margin-bottom: 20px;
}
.div_46 {
    float: right;
    margin-top: 20px;
    margin-right: 115px;
}
.p_21 {
    font-size: 12px;
    width: 247px;
    position: absolute;
    margin-left: -36px;
    margin-top: 7px;
    color: #696969;
}
.div_31 {
    background-color: white;
    color: #353535;
    min-width: 826px;
    margin: auto;
    padding: 11px 17px;
    height: 27px;
    float: left;
    border-radius: 10px;
}
.div_32 {

    -webkit-text-size-adjust: none;
    width: 450px;
    height: 28px;
    margin: auto;
    margin-top: 38px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 14px;
    color: #000;
    border-bottom: 1px solid #14264e;
}
.div_33 {
    min-width: 534px;
    float: left;
    margin-left: 20px;
}
.div_34 {
    width: 1002px;
    height: 40px;
}
.div_36 {
    width: 100%;
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 60px;
}
.div_37 {
    float: left;
    width: 398px;
    font-family: arial;
    margin-top: 26px;
}
.fol_user {
    width: 1002px;
    margin-top: 20px;
    font-family: arial;
    display: inline-block;
}
.image-upload_1 {
    transform: scale(1.1);
    transition-duration: 0.5s;
    overflow: hidden;
    border: 1px solid #14264e;
    padding: 9px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    cursor: pointer;
    width: 25px;
    background-color: #fff;
    height: 25px;
    margin-left: 161px;
    box-shadow: none !important;
    margin-top: -46px;
}
.div_35 {
    height: 443px;
}
.a_7 {
    color: #fff;
}
.form_1 {
    float: right;
    margin-right: 35px;
}
.form_2 {
    min-height: 132px;
    width: 670px;
    margin: auto;
    margin-top: 45px;
}
.div_72 {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 0;
    margin-left: -42px;
    margin-right: 7px;
    background-color: #fff;
    box-shadow: -2px 2px 8px 1px #14264e;
    transform: scale(1.1);
    transition-duration: 0.5s;
    overflow: hidden;
    border: 1px solid #14264e;
    padding: 9px;
    border-radius: 100%;
    top: 25%;
    position: relative;
}
.div_75 {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -17px;
    margin-left: -31px;
    background-color: #fff;
    box-shadow: -2px 2px 8px 1px #14264e;
    transform: scale(1.1);
    transition-duration: 0.5s;
    overflow: hidden;
    border: 1px solid #14264e;
    padding: 9px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
}
.p_31 {
  float: left;
    width: 605px;
    margin-left: 76px;
    margin-top: -30px;
}
.div_74 {
    box-shadow: 1px 2px 9px 0 #00000047;
    min-height: 60px;
    border-top: 1px solid #14264e;
    border-left: 1px solid #14264e;
    border-radius: 24px;
    width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 0;
    display: table;
}
.div_73 {
    border-bottom: 1px solid #14264e;
    box-shadow: 0 4px 20px 2px #00000096;
    margin-top: 120px;
    margin-left: -80px;
    position: absolute;
    width: 800px;
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    background-repeat: repeat;
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: #f6f6f6;
}
mark {
    background-color: #c9c9c9;
    color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    font-family: "Source Sans Pro", sans-serif;
}
a {
    text-decoration: none;
}
.error_li {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ff9c9c;
    color: #e20000;
    border-radius: 2px;
    box-shadow: -1px -4px 5px 1px #ff00005e;
    padding: 10px 50px;
}
ul {
    margin-left: 40px;
    list-style-type: none;
}
hr {
    margin: 10px 0;
    opacity: 0.25;
}
form h2 {
    margin: 25px auto;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}
form input:focus {
    outline: 0;
}
.fb_iframe_widget {
    margin-top: 10px;
}
#pretrazeno_div::-webkit-scrollbar {
    width: 10px;
}
#pretrazeno_div::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#pretrazeno_div::-webkit-scrollbar-thumb {
    background: #888;
}
#pretrazeno_div::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.check_size {
    white-space: nowrap;
    line-height: 19px;
}
#creater {
    display: none;
}
.disab {
    visibility: hidden;
    display: none;
}
.label_1 {
    margin-bottom: 0 !important;
    padding: 5px 0 5px 10px;
    font-size: 17px;
}
.span_2 {
    width: 20px !important;
    height: 20px !important;
    margin-top: 5px;
    margin-left: 10px;
}
.p_1 {
    margin-left: 11px;
}
.p_2 {
    color: #fff;
    text-align: center;
    margin-left: 11px;
    max-width: 142px;
    margin-top: 10px;
    font-family: arial;
    font-size: 19px;
}
.p_3 {
    color: #fff;
    text-align: center;
    margin-left: 11px;
    max-width: 142px;
    margin-top: 7px;
    font-family: arial;
    font-size: 19px;
}
.p_4 {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    margin-left: 11px;
    color: #544f4f;
}
.p_5 {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    color: #544f4f;
}
.p_6 {
    width: 139px;
    margin-left: 15px;
    border-top: 1px solid #000;
}
.p_7 {
    text-align: center;
}
.p_8 {
    width: 139px;
    border-top: 1px solid #000;
    margin-left: 15px;
}
.p_9 {
    color: #000;
    text-align: center;
}
.p_10 {
    color: #ececec;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 10px;
}
.p_11 {
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 13px;
    margin-left: 10px;
    float: left;
}
.h2_1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: -30px 0 30px 20px;
    text-align: left;
}
.div_1 {
    display: flex;
}
.div_2 {
    float: left;
    width: 553px;
}
.div_3 {
    height: 35px;
    float: left;
}
.h1_111{
	color: white;
    font-size: 42px;
    text-align: unset;
    position: absolute;
    margin-top: 128px;
    padding-bottom: 25px;
}
.krug_img{
	text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    margin-left: 656px;
    position: absolute;
    width: 125px;
    height: 125px;
    padding: 5px;
    border: 1px solid #f7b32c;
    border-radius: 100%;
}
.krug_img1{
	width: 123px;
    height: 123px;
    margin: 1px;
    background-color: #f7b32c;
    border-radius: 100%;
}
#checkedss{
	background-color: #f7b32c;
    border-radius: 17px;
    padding: 15px 25px;
    margin-top: 4px;
}

.a_111{
color: white;
    font-family: 'Source Sans Pro';
    position: absolute;
    top: 340px;
    text-decoration: revert;
}
.a_111:after {
    font-family: "Font Awesome 5 Free";
    content: '\f054';
    font-weight: 900;
      text-decoration-color: #6974e8;
    text-decoration-line: underline;
    color:#d1414b;
    margin-left: 15px;
}
.div_4 {
	margin-left: 30px;
    width: 620px !important;
    margin-top: 58px;
    margin-right: 25px;
}
.div_5 {
    box-shadow: 1px 20px 17px -10px #000;
}
.div_6 {
    float: right;
}
.div_7 {
    width: 991px;
    position: absolute;
    overflow: hidden;
    height: 456px;
    margin-left: 10px;
}
.div_8 {
    margin-top: 415px;
    width: 1015px;
}
.div_9 {
    margin: auto;
    width: 124px;
}
.div_10 {
    float: right;
    color: #14264e;
        background-color: white;
    border-radius: 25px;
    padding: 15px 0px;
    margin-bottom: 21px;
}
.div_11 {
    width: 1024px;
}
.div_12 {
    float: left;
    margin-left: 34px;
    width: 130px;
    height: 25px;
}
.div_13 {
    color: #544f4f;
    margin-top: 5px;
    margin-left: 38px;
    float: left;
}
.div_14 {
    float: left;
    margin-left: 76px;
}
.div_15 {
    float: right;
    margin-right: 20px;
    font-size: 17px;
    margin-top: -2px;
}
.div_16 {
    display: inline-table;
}
.div_17{width:100%;min-height:50px;background-color:#142134;min-width:1032px;}

.div_18 {
    width: 1032px;
    margin: auto;
}
.div_19 {
    width: 1032px;
    height: 280px;
}
.div_20 {
    padding-right: 10px;
    padding-left: 10px;
    width: 358px;
    float: left;
}
.div_21 {
    float: left;
}
.div_22 {
    float: left;
    color: #ececec;
    font-family: "Source Sans Pro", sans-serif;
}
.div_23 {
    padding-right: 10px;
    padding-left: 10px;
    width: 255px;
    float: left;
}
.div_24 {
    float: left;

}
.div_25 {
    width: 211px !important;
}
.div_26 {
    width: 200px !important;
}
.div_27 {
    padding-right: 10px;
    padding-left: 10px;
    width: 358px;
    float: left;
}
.div_28 {
    font-family: arial;
    color: #d0d0d0;
    font-size: 13px;
    width: 100%;
    background-color: #142134;
    height: 85px;
    border-top: 1px solid #fff;
}
.div_29 {
    display: inline-block;
    margin-left: 25px;
    padding-top: 58px;
}
.div_81 {
    min-width: 388px;
    min-height: 165px;
}

.btn_2 {
    width: 257px;
    font-size: 14px;
    background: #f26261;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
    display: block;
    letter-spacing: 0.1em;
    padding: 13px 20px;
    text-decoration: none;
}
#map_lefts {
    float: left;
    margin: 20px;
    margin-left: 12px;
    margin-right: 12px;
}
.add_post {
  float: left;
        width: 1020px;
    min-height: 100px;
    display: block;
    border-radius: 15px;
    background-color: white;
    border-top-left-radius: 0px;
}
#num_post{
    border-color: #d8d8d8;
    border-radius: 5px;
        padding: 3px 23px 3px 5px;
        cursor: pointer;

}
.map_leftt {
    float: left;
    margin: 20px;
    width: 290px;
}
.img_6_12{
        margin-left: -17px;
    border-left: 1px solid #d8d8d8;
    padding: 1px 0px 4px 2px;
}
.rooew{
    background-color: white;
    border: 1px solid #d8d8d8;
}
.select_2 {
    border-radius: 12px;
    float: left;
    padding: 3px 5px;
    font-family: FontAwesome, Arial;
    font-size: 15px;
    cursor: pointer;
}
.h3_1 {
    border-bottom: 2px solid #6974e8;
    text-align: center;
    color: white;
    padding: 15px;
    padding-top: 30px;
}
.h3_2 {
    margin: auto;
    width: 527px;
    margin-top: 20px;
}
.img_1 {
    height: 70px;
    width: 70px !important;
}
.img_2 {
    margin-top: -6px !important;
}
.img_3 {
    margin-top: -5px !important;
}
.img_4 {
    margin-top: -32px !important;
    margin-right: 37px !important;
}
.img_5 {
    margin-top: -39px !important;
    margin-left: 119px !important;
}
.img_6 {
       font-size: 22px;
    position: absolute;
    padding: 12px 15px;
    margin-left: -43px;
    border-left: 1px solid #d8d8d8;
    margin-top: 0px;
}
.img_6_1 {
       font-size: 22px;
    position: absolute;
    padding: 12px 15px;
    margin-left: -43px;
    border-left: 1px solid #d8d8d8;
    margin-top: 19px;
}
.img_7 {
    position: absolute;
    height: 50px;
    margin-top: 3px;
    margin-left: 28px;
}
.img_12 {
    float: left;
}
.ul_1 {
    font-family: "Source Sans Pro", sans-serif;
}
.button_1 {
    margin-top: -12px !important;
    position: absolute;
    margin-left: 439px !important;
}
.button_2 {
    color: #14264e;
    cursor: pointer;
}
.button_21 {
    border: 1px solid #14264e;
    background-color: #14264e;
}
.button_3 {
    color: #fff;
    background: #d1414b;
    cursor: pointer;
    border: 1px solid #d1414b;
    text-align: center;
    border-radius: 5px;
    display: block;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    text-decoration: none;
    float: left;
    margin-top: 4px;
}
.button_4{
	  cursor: pointer;
    -webkit-appearance: none;
    background: #d1414b;
    border: none;
    font-weight: 500;
    font-size: 19px;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    display: block;
    border-radius: 10px;
    /* float: right; */
    margin: 178px;
    margin-left: 789px;
    padding: 19px 21px 19px 21px;
}
.button_4:after{

font-family: "Font Awesome 5 Free";
    content: '\f054';

    font-weight: 900;
    margin-left: 45px;
}
.input_2 {
width: 220px;
    margin: 0 120px 0 46px;
    padding: 14px 50px 14px 10px!important;
    border-radius: 10px;
    border: #d8d8d8 1px solid;
}
.input_3 {
    width: 100%;
    display: block;
    padding: 7px;
    font-size: 1em;
    margin: 5px 10px 10px 0;
    border-radius: 3px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #3e606f54;
    float: left;
    width: 200px;
}
.a_6 {
    padding-right: 10px;
}
.a_5 {
    color: #ffe0e0;
    font-weight: 700;
    border-radius: 3px;
    background-color: #d1414b;
    padding: 7px 12px;
    border: 1px solid #d1414b;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    display: flex;
}
.a_4 {
    padding: 13px 86px !important;
    background-color: #14264e;
    margin-bottom: 5px;
}
.a_3 {
    padding: 13px 60px !important;
    background-color: #14264e;
    margin-bottom: 5px;
}
.a_2 {
      padding: 15px 0px 10px 30px !important;
    width: 181px;
    text-align: left!important;
    margin-right: 0px!important;
    border-radius: 0px!important;
}
.i_7 {
    margin-right: 20px;
}
.i_2 {
    position: absolute;
    margin-left: -145px;
    margin-top: 5px;
    color: #828282;
}
.i_1 {
    /*background-color: #d1414b;*/
    padding: 12px;
    margin-top: 7px;
    font-size: 18px;
    margin-right: 9px;
    color: #fff;
    cursor: pointer
}
.i_3 {
    color: #0f6dd0;
}
.i_4 {
    padding: 5px 10px;
}
.i_41 {
    color: #d1414b;
    margin-top: 1px;
}
.i_5 {
    float: left;
    padding: 4px 6px;
    font-size: 34px;
    border-radius: 100%;
    background: #d1414b;
}
#pretrazeno_div {
    z-index: 99;
    width: 230px;
    max-height: 160px;
    display: none;
    overflow-y: scroll;
   border-radius: 20px;
    box-shadow: 0 12px 11px -5px #353535;
    position: absolute;
    background-color: #14264e;
    margin-top: 56px;
}
.input_1 {
	border: 1px solid #6974e8;
    width: 13px;
    padding: 12px 13px;
    height: 16px;
    font-family: Roboto;
    margin-top: 7px;
    background-color: #fff;
    color: #14264e;
    border-radius: 20px;
    margin-right: -40px;
    background-color: #14264e;
    transition:all 0.3s;
    color:#14264e;
    cursor: pointer;
}
.input_1_1{
    border: 1px solid #6974e8;
    width: 200px;
    padding: 12px 13px;
    height: 16px;
    font-family: Roboto;
    margin-top: 7px;
    background-color: #fff;
    color: #14264e;
    border-radius: 20px;
    margin-right: -40px;
    background-color: #f6f6f6;
    transition: all 0.3s;
     cursor: pointer;

}
.hover_1{
    width: 29px;
    border: 1px solid #6974e8;
    border-radius: 20px;
        background-color: #f5b027;
     transition:all 0.3s;

}
.logo_img {
  position: absolute;
    height: 45px;
    margin-top: 9px;
    margin-left: -38px;
}
.com_mod {
    border: 1px solid #fff;
}
.com_mod:hover {
    border: 1px solid #14264e6b;
    background-color: #e8e8e8;
}
.btn {
    color: #fff;
    background: #d1414b;
    cursor: pointer;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
    display: block;
    letter-spacing: 0.1em;
    margin: 10px 0;
    padding: 13px 20px;
    text-decoration: none;
}
.sliders {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background: #d3d3d3;
    outline: 0;
    -webkit-transition: 0.5s;
    transition: opacity 0.5s;
}
.sliders:hover {
    opacity: 1;
}
.sliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 16px;
    background: #d1414b;
    cursor: pointer;
    border-radius: 100%;
}
.sliders::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #14264e;
    cursor: pointer;
    border-radius: 100%;
}
.btn:hover {
    box-shadow: -1px 1px 8px #fff;
}
.left_pagin {
    transition-duration: 0.3s;
    float: left;
    cursor: pointer;
    border: none;
    font-size: 34px;
    color: #14264e !important;
    background-color: #fff !important;
    margin: 0 15px;
}
.click_pgon:hover {
    color: #fff;
    background-color: #14264e;
}
.click_pgon {
    color: #14264e;
    font-family: arial;
    display: inline-block;
    width: 20px;
    padding: 7px;
    border: 1px solid #14264e;
    text-decoration: none;
    margin: 0 2px;
    height: 20px;
    text-align: center;
}
.container {
    min-width: 1033px;
    margin: 0 auto;
}
.navbarr {
    width: 1024px;
    margin: 0 auto;
}
.navbarli {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    position: absolute;
    z-index: 50;

    margin-left: 0;
    background: #d1414b;
    width: 211px;

    border-radius: 20px;
    margin-top: 0px;

}
.users {
    height: 36px;
    color: #fff;
    background-color: #d1414b;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.span_1 {
    float: left;
}
.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus,.login-input {
width: 210px;
    padding: 12px 12px 12px 49px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 10px;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid #fa7b70;
}



.logout {
   padding: 10px 0px!important;
    width: 211px;

    margin-right: 0px!important;
    border-radius: 0px!important;
      border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px !important;
}


.logout:hover{
    color: #fff;
    background-color: #6974e8;
}
#linija{
        border-top: 1px solid #e2e2e2;
    width: 80%;
    height: 1px;
    display: flex;
    margin-left: 20px;
}


.userrs {
    overflow: hidden;
    width: 210px;
}
.userrs:hover .navbarli {
    z-index: 50;
    margin-top: 0px;
    max-height: 400px;
    transition: max-height 0.25s ease-in;
}
.navbar {
    height: 66px;
    min-width: 1034px;
    overflow: hidden;
    background-color: #142134;
}
.navbar ul {
	margin-top: 5px;
    list-style-type: none;
    float: right;
}
.navbar ul li {
    float: left;
}
.navbar ul li a {
    font-size:15px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 7px;
}
.navbar ul li a:hover {
    color: #fff;
    background-color: #6974e8;
}
.navbar .logo_div {
    float: left;
    padding-top: 5px;
    padding-left: 40px;
}
.navbar .logo_div h1 {
    color: #fff;
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: 100;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: #73707d;
    text-align: center;
    width: 80%;
    margin: 20px auto 0;
    padding: 20px 0;
}
.banner {
    margin: 5px auto;
    min-height: 400px;
    color: #fff;
    border-radius: 5px;
    background-image: url(../images/banner.jpg);
    background-size: 100% 100%;
}
.banner .welcome_msg {
    width: 45%;
    float: left;
    padding: 20px;
}
.banner .welcome_msg h1 {
    color: #fff;
    margin: 25px 0;
    font-size: 2.4em;
    font-family: "Averia Serif Libre", cursive;
}
.banner .welcome_msg p {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.8em;
    font-family: "Noto Serif", serif;
}
.banner .welcome_msg p span {
    font-size: 0.81em;
    color: #3e606f;
}
.banner .welcome_msg a {
    width: 30%;
    margin: 20px 0;
    padding: 12px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
.banner .welcome_msg a:hover {
    background: #374447;
}
.banner .login_div {
    width: 50%;
    float: left;
}
.banner .login_div form {
    margin-top: 40px;
}
.banner .login_div form h2 {
    color: #fff;
    margin-bottom: 20px;
    font-family: "Noto Serif", serif;
}
.banner .login_div form input {
    width: 60%;
    color: #fff;
    border: 1px solid #fff;
    margin: 10px auto;
    letter-spacing: 1.3px;
    font-family: "Noto Serif", serif;
}
.banner .login_div form button {
    display: block;
    background: #006384;
    margin-left: 20%;
}
.content {

    /*box-shadow: 0 0 8px 5px #b9b9b9cc;
    background-color: #fff;
    padding-left: 8px; */
        font-family: "Source Sans Pro", sans-serif;

    width: 1024px;
    margin: 45px auto;
}
.content:after {
    content: "";
    display: block;
    clear: both;
}
.content .content-title {
    margin: 10px 0;
    color: #374447;
    font-family: "Averia Serif Libre", cursive;
}
.content .post {
 height: 301px;
    padding: 5px;
    font-family: "Source Sans Pro", sans-serif;
    width: 480px;
    margin: 9px 9px 0;
    float: left;
    border-radius: 2px;
    border: 1px solid #dedede;
    background-color: white;
    border-radius: 10px;
}
.post1 {
    margin-left: 10px;
}
.post:hover {
    box-shadow: -2px 2px 10px 1px #636363;
    border: 1px solid #14264e;
}
.content .post .category {
    margin-top: 0;
    padding: 3px 8px;
    color: #374447;
    background: #fff;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #374447;
    box-shadow: 3px 2px 2px;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 3;
}
.content .post .category:hover {
    box-shadow: 3px 2px 2px;
    color: #fff;
    background: #374447;
    transition: 0.4s;
    opacity: 1;
}
.content .post .post_image {
    background-size: 100%;
}
.content .post .post_info {
    height: 100%;
    padding: 0 5px;
    font-weight: 200;
    font-family: "Noto Serif", serif;
    color: #222;
}
.content .post .post_info span {
    color: #a6a6a6;
    font-style: italic;
}
.content .post .post_info span.read_more {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.post {
    margin-left: 0 !important;
    z-index: -1;
}
.post-right p {
    margin: 5px 0;
}
.content .post-wrapper {
    width: 700px;
    min-height: 942px;
    float: left;
    border-right: 1px solid #d1414b;
}
.botom {
     position: absolute;
    margin-top: 37px;
    padding: 5px 10px;
    margin-left: -6px;
    border: 1px solid #bdbdbd;
    border-radius: 7px;
    background-color: white;
    width: 470px;
}
.botom button {
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin-right: 15px;
    padding: 1px 10px;
    background: #000;
    color: #fff;
}
.sidebar_right {
    float: right;
    width: 190px;
    margin-top: 5px;
}
.sidebar_right p {
    font-size: 15px;
}
.full-post-div {
    min-height: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    padding-top: 14px;
}
.full-post-div h2.post-title {
    margin: 10px auto 20px;
    text-align: center;
}
.post-body-div {
    font-family: "Noto Serif", serif;
    font-size: 1.2em;
}
.post-body-div p {
    margin: 20px 0;
}
.post-sidebar {
    width: 24%;
    float: left;
    margin-left: 5px;
    min-height: 400px;
}
.content .post-comments {
    margin-top: 25px;
    border-radius: 2px;
    border-top: 1px solid #e4e1e1;
    padding: 10px;
}
.post-sidebar .card {
    width: 95%;
    margin: 10px auto;
    border: 1px solid #e4e1e1;
    border-radius: 10px 10px 0 0;
}
.post-sidebar .card .card-header {
    padding: 10px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    background: #3e606f;
}
.post-sidebar .card .card-header h2 {
    color: #fff;
}
.post-sidebar .card .card-content a {
    display: block;
    box-sizing: border-box;
    padding: 8px 10px;
    border-bottom: 1px solid #e4e1e1;
    color: #444;
}
.post-sidebar .card .card-content a:hover {
    padding-left: 20px;
    background: #f9f9f9;
    transition: 0.1s;
}
.message {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    color: #3c763d;
    border-radius: 5px;
    text-align: center;
}
.error {
    margin-bottom: 20px;
}
.validation_errors {
    width: 1000px;
    position: absolute;
    font-family: arial;
    font-weight: 700;
    left: 50%;
    text-align: left;
    margin-left: -500px;
}
.notic {
    color: #a94442;
    background: #f2dede;
    border: 1px solid #a94442;
    margin-bottom: 20px;
}
.logged_in_info {
    text-align: right;
    padding: 10px;
}
.post-left {
    font-weight: 550;
    font-size: 20px;
    margin-top: 10px;
    width: 160px;
    float: left;
}
.post-right {
    margin-top: 10px;
    color: #000;
    font-size: 16px;
    width: 312px;
    float: right;
}
.post-right p {
    margin: 5px 0;
}
.info {
    color: #000;
    width: 100%;
    height: 50px;
    display: inline-table;
}
.post_image {
    max-width: 120px;
    max-height: 105px;
    vertical-align: baseline;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#imgdiv {
    display: none;
}
.post_cena {
    position: absolute;
    margin-left: 562px;
}
.picture {
    height: 209px;
    width: 247px;
    display: inline-block;
    margin-left: 6px;
}
#cena {
    -webkit-clip-path: polygon(100% 0, 100% 49%, 100% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(100% 0, 100% 49%, 100% 100%, 25% 100%, 0 50%, 25% 0);
    background-color: #14264e;
    padding: 5px 10px 5px 25px;
    float: right;
    color: #fff;
    margin: 6px;
    font-size: 20px;
    margin-top: -10px;
}
.infos {
    font-size: 19px;
    float: left;
    margin: 25px;
    margin-left: 9px;
    border-right: 1px solid #14264e;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.infos p {
    margin: 4px 0;
}
.oprema p {
    margin: 4px 0;
}
.oprema {
    float: left;
    font-size: 19px;
    margin: 25px;
    margin-left: 10px;
}
.coment {
        background-color: white;
    font-size: 18px;
    padding: 20px 15px;
    border-radius: 15px;
    border-top-left-radius: 0px;
}
.sidebarr {
    margin-left: 5px;
    float: right;
    width: 300px;
    margin-right: 10px;
}
.sidebar {
        background-color: white;
    border-radius: 15px;
    border-bottom: 1px solid #d1414b;
    width: 300px;
    height: 176px;
}
.logining {
    width: 340px;
    position: fixed;
    top: 50%;
    left: 49.99999%;
    transform: translate(-50%, -50%);
}
.logining div {
    width: 339px;
    margin: 20px auto;
}
.form1 {
     margin-top: 51px;
    padding: 20px;
    background-color: #ffffff1f;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: -6px 9px 14px #0000001a;
}
.reg{
      position: absolute;
    margin-left: 22px;
    margin-top: 20px;
    font-size: 27px;
    color: #fa7b70;
}

.form2 {
    padding: 20px;
    background-color: #ffffff1f;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: -6px 9px 14px #0000001a;
}
#checkbox-dropdown-container {
    float: left;
    padding: 20px;
    margin-left: 30px;
}
.custom-select,
.custom-selects {
       width: 200px;
    background: #fff no-repeat center right 10px;
    display: inline-block;
    padding: 13px 15px;
    border: #d8d8d8 1px solid;
        font-family: 'Source Sans Pro',sans-serif;
    border-radius: 2px;
    cursor: pointer;
        border-radius: 10px;
}
.search12 {
    width: 1024px;
    height: 35px;
    float: left;
}
.custom-select:hover {
    border: #bfbfbf 1px solid;
}
.custom-selects:hover {
    border: #bfbfbf 1px solid;
}
div#custom-select-option-box {
    box-shadow: 1px 20px 17px -10px #000;
    position: absolute;
    width: 230px;
    overflow-y: scroll;
    height: 200px;
    background: #fff;
    border: #d8d8d8 1px solid;
    color: #14264e;
    border-radius: 15px;
    z-index: 1;
    display: none;
}
.search {
 width: 1024px;
    height: 213px;
    margin: -87px auto 0px;
    background-color: white;
    border-radius: 25px;
    border-top-left-radius: unset;
}
button.search.btn {
    background: #4c4c4c;
    border: #353535 1px solid;
    color: #fff;
    border-radius: 2px;
    padding: 8px 40px;
    margin-top: 20px;
    font-size: 0.9em;
}
.custom-select-option {
    padding: 5px 15px;
    margin: 1px 0;
    cursor: pointer;
}
.result-list {
    padding-bottom: 20px;
    color: #4d4d4d;
    line-height: 25px;
}
.result-list-heading {
    font-style: italic;
    color: #717171;
    text-decoration: underline;
}
canvas {
    border: 2px solid #f10000;
}
h1 {
    color: #1d91d0;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
}
#checkbox-dropdown-containers {
    float: left;
    padding: 20px;
}
div#custom-select-option-boxs {
    box-shadow: 1px 20px 17px -10px #000;
    position: absolute;
    width: 230px;
    overflow-y: scroll;
    height: 200px;
    background: #fff;
    border: #d8d8d8 1px solid;
    color: #14264e;
    border-radius: 15px;
    z-index: 1;
    display: none;
}
.indx:hover,.mrkmd:hover{
        background-color: #d1414b;
}
.custom-select-options {
    padding: 5px 15px;
    margin: 1px 0;
    cursor: pointer;
}
.result-lists {
    padding-bottom: 20px;
    color: #4d4d4d;
    line-height: 25px;
}
.result-list-headings {
    font-style: italic;
    color: #717171;
    text-decoration: underline;
}
.marka {
    width: 100px;
    float: left;
    margin: 5px;
}
.cena_p {
    -webkit-clip-path: polygon(100% 0, 100% 49%, 100% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(100% 0, 100% 49%, 100% 100%, 25% 100%, 0 50%, 25% 0);
    background-color: #14264e;
    padding: 5px 10px 5px 25px;
    float: right;
    color: #fff;
    margin: 6px;
    margin-top: -16px;
}
.sidebar_cena {
    margin: 6px;
    -webkit-clip-path: polygon(100% 0, 100% 49%, 100% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(100% 0, 100% 49%, 100% 100%, 25% 100%, 0 50%, 25% 0);
    background-color: #d1414b;
    padding: 5px 10px 5px 25px;
    float: right;
    color: #fff;
    margin-top: 16px;
}
.imgfour {
    position: relative;
    float: left;
    width: 120px;
    height: 105px;
    margin: 1px;
}
.search-right {
    border-left: 1px solid #14264e;
    margin-top: -66px;
    padding-left: 4px;
    width: 471px;
    float: right;
    padding-top: 36px;
    padding-bottom: 17px;
}
.div-icon1-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 150px;
    max-width: 150px;
}
.div-icon1 {
    width: 150px;
    cursor: pointer;
    height: 150px;
    position: relative;
}
.fa-times-circle {
    z-index: 9;
    position: absolute;
    margin-left: 119px;
    margin-top: -28px;
    color: #000;
    font-size: 27px;
}
.div-fa-times-circle:hover .fa-times-circle {
    display: block;
}
.div-fa-times-circle {
    width: 150px;
    float: left;
    margin-left: 10px;
}
.div-fa-times-circle:hover .div-icon {
    width: 150px;
    z-index: 9;
    background: #00000052;
    height: 150px;
    position: absolute;
}
.div-bar {
    -webkit-text-size-adjust: none;
    display: table;
    margin-left: 43px;
    padding-bottom: 9px;
    padding-right: 129px;
    padding-left: 28px;
}
.opste-img {
    position: absolute;
    width: 300px;
    margin-top: 21px;
    height: 300px;
    float: left;
    margin-left: 60px;
}
.p-img {
    font-size: 13px;
    top: 486px;
    margin-left: 97px;
    width: 298px;
    position: absolute;
}
.btn_1 {
    margin-top: 310px;
    margin-left: 15px;
    position: absolute;
    border-radius: 30px;
    color: #d1414b;
    padding: 10px 17px;
    background: #fff;
    border: 1px solid #d1414b;
    cursor: pointer;
    text-align: center;
    display: block;
    letter-spacing: 0.1em;
    transition-duration: 0.3s;
    text-decoration: none;
}
.btn_1:hover {
    color: #fff;
    box-shadow: -2px 3px 7px #768097;
    background-color: #d1414b;
    margin-top: 305px;
    margin-left: 17px;
    transition-duration: 0.3s;
}
.rightet-hover {
    transition-duration: 0.2s;
    position: absolute;
    background-color: #14264e;
    width: 225px;
    margin-top: -141px;
    height: 116px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}
.rightet-div:hover .rightet-hover {
    opacity: 1;
    transition-duration: 0.2s;
}
.div-wqe {
    width: 3965px;
    left: 0;
    height: 350px;
    position: absolute;
}
.imgss {
    width: 145px;
    padding: 5px 7px;
    float: left;
    margin: 2px;
    border-radius: 5px;
}
#imgss-div:hover #img-div {
    transition-duration: 0.5s;
    height: 74px;
    margin-top: 135px;
    margin-left: 3px;
}
#imgss-div {
    margin: 1px;
    float: left;
    width: 163px;
    height: 206.13px;
}
#img-div {
    overflow: hidden;
    white-space: nowrap;
    transition-duration: 0.5s;
    background-color: #d1414bdb;
    width: 162px;
    height: 36px;
    position: absolute;
    border-radius: 5px;
    margin-top: 172px;
    margin-left: 3px;
}
.wqe1 {
    border-top: 1px solid #d1414b;
    width: 854px;
    margin: 34px auto 8px;
}
.wqe12 {
    font-size: 22px;
    color: #fff;
    background: #d1414b;
    width: 98px;
    padding: 4px 10px;
    border-radius: 2px;
    margin: -24px auto 10px;
}
.wqe {
    margin-top: 490px;
    border-top: 1px solid #14264e;
    width: 854px;
    margin-left: auto;
    margin-right: auto;
}
.wqe01 {
    font-size: 22px;
    color: #fff;
    background: #14264e;
    width: 62px;
    padding: 4px 10px;
    border-radius: 2px;
    margin: -18px auto 10px;
}
.paginate1 {
    width: 1024px;
    float: left;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 0px;
    background-color: white;
}
.divfor3 {
    float: left;
    width: 216px;
}
#det-pretraga {
    font-size: 19px;
    color: #444;
    cursor: pointer;
}
#napredno {
    float: left;
    width: 1024px;
    height: 173px;
    display: none;
    margin-top: 20px;
    margin-left: 101px;
}
#det-pretraga1 {
    font-size: 19px;
    color: #444;
    cursor: pointer;
    display: none;
}
#before {
    float: left;
    font-size: 50px;
    margin-top: -5px;
    color: #14264e;
    transition-duration: 0.3s;
    cursor: pointer;
}
#before:hover {
    color: #264b9e;
    margin-left: -5px;
    margin-right: 5px;
    transition-duration: 0.3s;
}
#next {
    float: left;
    font-size: 50px;
    margin-top: -5px;
    color: #14264e;
    transition-duration: 0.3s;
    cursor: pointer;
}
#next:hover {
    color: #264b9e;
    margin-left: 5px;
    margin-right: -5px;
    transition-duration: 0.3s;
}
.p_slider {
    float: left;
    margin-top: 15px;
    color: #14264e;
    transition-duration: 0.3s;
    cursor: pointer;
}
.p_slider:hover {
    margin-top: 10px;
    transition-duration: 0.3s;
}
.smile-up {
    cursor: pointer;
    width: 60px;
    margin-left: 5px;
    height: 60px;
    float: left;
}
.fa-smile {
    color: green;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
}
.smile-up:hover {
    background-color: green;
    border-radius: 5px;
}
.smile-up:hover .fa-smile {
    color: #fff;
}
.smile-down {
    cursor: pointer;
    width: 60px;
    margin-left: 5px;
    height: 60px;
    float: left;
}
.fa-frown {
    font-size: 40px;
    color: red;
    margin-left: 10px;
    margin-top: 10px;
}
.smile-down:hover {
    background-color: red;
    border-radius: 5px;
}
.smile-down:hover .fa-frown {
    color: #fff;
}
.searc_foot {
     font-family: "Source Sans Pro", sans-serif;
    color: #d0d0d0;
    font-size: 17px;
    width: 99px;
    float: left;
    padding: 10px;
}
.searc_foot a {
    width: 98px;
    padding: 5px;
    color: #ececec;
    float: left;
}
.searc_foot a:hover {
    color: #14264e;
    background-color: #ececec;
}
#spec1 {
   margin: auto;
    width: 948px;
    margin-top: -20px;
    padding-right: 8px;
}
.comed1 {
    padding: 0 23px 0 15px;
    display: table;
    margin: auto;
    width: 800px;
    background-image: linear-gradient(to right, #f9f9f9, #e0e0e0);
    box-shadow: inset -4px 0 16px 0 #f3f3f3;
}
.comed2 {
    padding: 10px;
    margin: 5px -15px;
    background-color: #e2e2e2;
}
.comed3 {
    float: left;
    padding: 10px 15px;
    text-align: center;
    width: 120px;
    height: 82px;
}
.comed4 {
    padding: 10px;
    margin: 5px -15px;
    background-color: #e2e2e2;
    display: flex;
}
.comed5 {
    margin-top: 0 !important;
    font: 400 13.3333px Arial;
    margin-left: 0 !important;
    margin-right: 10px;
    position: unset;
    float: left;
}
.comed6 {
    max-height: 200px;
    overflow-y: scroll;
    margin: auto;
    max-width: 922px;
    padding: 15px 8px 15px 0;
    display: grid;
}
.left_pagin:hover {
    transition-duration: 0.3s;
    margin-left: 10px;
    margin-right: 20px;
}
.right_pagin:hover {
    transition-duration: 0.3s;
    margin-left: 20px;
    margin-right: 10px;
}
.right_pagin {
    transition-duration: 0.3s;
    float: right;
    cursor: pointer;
    border: none;
    font-size: 34px;
    color: #14264e !important;
    background-color: #fff !important;
    margin: 0 15px;
}
.marked1 {
  cursor: pointer;
    width: 181px;
    height: 89px;
    position: relative;
    margin: 5px;
    padding: 5px;
    border-radius: 13px;
    margin: 15px auto;
    background-color: white;
    border: 1px solid #d8d8d8;
}
.marked2 {
    max-width: 181px;
    max-height: 89px;
    vertical-align: baseline;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.marked3 {
    width: 900px;
    margin: auto;
    margin-bottom: 38px;
    box-shadow: -4px 4px 14px 1px #000;
}
.marked50{
    float: left;
    padding: 7px;
    width: 155px;
    min-height: 276px;
    background-color: white;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    margin: 5px 5px 5px 0px;
}
.marked4 {
    padding: 10px;
    font-size: 18px;
    background-color: #6974e8;
    color: white;
    border-radius: 15px;
    margin-bottom: 5px;
    width: 987px;
    box-shadow: 2px 4px 9px -2px #0000003d;
}
.marked5 {
    text-align: center;
    color: #000;
    font-weight: 600;
}
.marked6 {
    width: 900px;
    margin: auto;
    margin-bottom: 38px;
    box-shadow: -4px 4px 14px 1px #000;
}
.marked7 {
   cursor: pointer;
    width: 181px;
    height: 89px;
    float: left;
    position: relative;
    border: 1px solid #d8d8d8;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.marked8 {
    max-width: 181px;
    max-height: 89px;
    vertical-align: baseline;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.h1_1 {
    font-family: "Source Sans Pro", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 309px;
    font-size: 31px !important;
    padding: 0 !important;
    color: #444 !important;
}
.istaknuti_oglas {
    float: right;
    padding: 15px 30px;
    margin: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
    border: 2px solid white;
}

.istaknuti_oglas:hover {
    transition-duration: 0.2s;
    border-color: #d1414b;
}
.istaknuti_oglasi {
    transition-duration: 0.2s;
    float: left;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid white;
}

.istaknuti_oglasi:hover {
    transition-duration: 0.2s;
    border-color: #14264e;
}
.div_tekst_s {
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 20px;
}
.div_58_1 {
    margin-top: 95px;
    margin-bottom: 20px;
}
.h2_6_1 {
    width: 210px;
    font-family: "Source Sans Pro", sans-serif;
    margin: -40px auto 0 auto;
}
.send{
	float: unset!important;
	width: unset!important;
  background: #fff no-repeat center right 10px;
    display: inline-block!important;
    padding: 12px 15px!important;
    border: #d8d8d8 1px solid!important;
    border-radius: 2px;
    margin-top: 19px;
    width: 254px;
    margin-left: 40px;
    cursor: pointer;
        border-radius: 10px;
}
select{
	 -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.cenaSelect{
	margin-left: 20px;
    font-weight: bold;
    font-size: 21px;
    background: #fff no-repeat center right 10px;
    display: inline-block;
    padding: 8px 50px 8px 10px!important;
    border: #d8d8d8 1px solid;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    border-radius: 10px;
}
.h4Cena{
	margin-left: 20px;
    margin-bottom: 15px;
}


#custom-select-option-box::-webkit-scrollbar {
  width: 10px;
  border-radius:15px;
}

/* Track */
#custom-select-option-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius:15px;
}

/* Handle */
#custom-select-option-box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:15px;
}

/* Handle on hover */
#custom-select-option-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#custom-select-option-boxs::-webkit-scrollbar {
  width: 10px;
  border-radius:15px;
}

/* Track */
#custom-select-option-boxs::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius:15px;
}

/* Handle */
#custom-select-option-boxs::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:15px;
}

/* Handle on hover */
#custom-select-option-boxs::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#comms{
    background-color: white;
    border-radius: 0px 17px 17px;
    padding-top: 1px;
    width: 956px;
    margin: -10px auto auto;
}

.borderCrveno{
    border: 1px solid red;
}


@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:url(/static/css/webfonts/SourceSansPro-Regular.ttf) format("truetype");}
